*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
 body{
background-image:  url(./premium_photo-1669652639356-f5cb1a086976.avif);
background-size: cover;
  background-position: center;  

}
.logo{
font-size: 35px;
color:black;
border: 2px solid black;
width: 280px;
text-align: center;

}
.container{
    justify-content: space-between;
    display: flex;
    margin: 50px;
  
    align-items: center;
    
    
}
.container ul{
    list-style: none;
    
}
    .container ul a{
    text-decoration: none;
    color:white;
    padding: 20px;
    border: 6px transparent;
    background-color: black;
    border-radius: 30px;
    }
    .container ul li {
        display: inline-block;
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        transition: .3s;
    }
    .container ul li:hover{
        transform: scale(1.2);
    }
    
    .container .btn button{
        margin: 20px;
        height: 50px;
        border: 2px solid black;
        width:150px;
        border-radius: 35px;
color: white;
background-color: black;
font-size: 15px;
font-weight: bold;
cursor: pointer;
    }
    .container .btn button:hover{
        transform: scale(1.3);
    }
    /* header start */
    .container2 .head{
        margin: 80px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400px;
text-transform: uppercase;
}
.container2 .para{
    font-size: 25px;
    
    margin-top: 20px;
}
.container2 button{
    margin-top: 30px;
    background-color: black;
    
    border-radius: 40px;
    border: 3px solid black;
    width: 180px;
    height: 70px;
}
.container2 a{
    text-decoration: none;
color: white;
font-size: 15px;
font-weight: bold;
}
.container2 button:hover{
    transform: scale(1.2);
}
/* main{
    background-color: white;

} */
 .container3 .campuss{
    text-align: center;
    
}
.container3 h3{
    text-align: center;
}
/* start card */
.container4 .card .img-div{
    justify-content: space-between;

} 
.card{
    width: 310px;
    height: 460px;
    background-color: white;
    text-align: center;
border-radius: 10px;
 /* margin-left: 250px;  */
}
.img-div img{
height: 460px;
width: 310px;
border-radius: 10px;

}
.card2{
    width: 310px;
    height: 460px;
    background-color: white;
    text-align: center;
border-radius: 10px;
 /* margin-left: 250px;  */
}
.img-div img{
height: 460px;
width: 310px;
border-radius: 10px;

}
 
.card3{
    width: 310px;
    height: 460px;
    background-color: white;
    text-align: center;
border-radius: 10px;
 /* margin-left: 250px;  */
}
.img-div img{
height: 460px;
width: 310px;
border-radius: 10px;

}
 
.card4{
    width: 310px;
    height: 460px;
    background-color: white;
    text-align: center;
border-radius: 10px;
 /* margin-left: 250px;  */
}
.img-div img{
height: 460px;
width: 310px;
border-radius: 10px;

}
.container5 {
width: 100%;
height: 200px;
background-color: black;
color: white;
text-align: center;
/* margin-top: 220px; */
}
 .head{
    margin-top: 50px;
 }
 .icon{
font-size: 40px;
margin-top: 50px;
 }
 .icon a{
    text-decoration: none;
    color: white;
    padding: 10px;
 }
 .icon a i:hover{
    transform: scale(1.2);
 }
 .container5 h3{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
     margin-top: 10px; 
     width: 150%;
 }
 @media only screen and (min-with:200px)and (max-width:767px){
    
 
    .container{
        width: 100%;
        flex-direction: column;
    } 
    .head{
        margin: 10px;
    }  
}
 